<div id="<%= dom_id bodega %>">
  <p>
    <strong>Codigo:</strong>
    <%= bodega.codigo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= bodega.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= bodega.direccion %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= bodega.cp %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= bodega.activo %>
  </p>

</div>
