<div id="<%= dom_id producto %>">
  <p>
    <strong>Sap:</strong>
    <%= producto.sap_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Um compras:</strong>
    <%= producto.um_compras %>
  </p>

  <p>
    <strong>Um inventario:</strong>
    <%= producto.um_inventario %>
  </p>

  <p>
    <strong>Um ventas:</strong>
    <%= producto.um_ventas %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= producto.costo %>
  </p>

  <p>
    <strong>Precio venta:</strong>
    <%= producto.precio_venta %>
  </p>

  <p>
    <strong>Codigo barras:</strong>
    <%= producto.codigo_barras %>
  </p>

</div>
