<div id="<%= dom_id sucursal %>">
  <p>
    <strong>Codigo:</strong>
    <%= sucursal.codigo %>
  </p>

  <p>
    <strong>Ruta:</strong>
    <%= sucursal.ruta %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= sucursal.direccion %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= sucursal.cp %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= sucursal.activo %>
  </p>

  <p>
    <strong>Bodega:</strong>
    <%= sucursal.bodega_id %>
  </p>

</div>
