<div class="sidebar collapse show" id="sidebar">
  <!-- Search Bar -->
  <div class="p-2">
    <input type="text" id="sidebarSearch" class="form-control" placeholder="Buscar..." onkeyup="filterSidebarOptions()">
    <ul id="searchResults" class="list-group position-absolute w-100 d-none"></ul>
  </div>

  <!-- Master Data Management Collapsible Section -->
  <div class="nav-item">
    <a class="nav-link d-flex align-items-center" href="#" id="masterDataToggle">
      <%= image_tag("data.svg", alt: "Gestión de Datos Maestros", class: "me-2", style: "max-height: 28px;") %>
      Datos Maestros
      <i class="fas fa-chevron-down ms-auto" id="chevron-icon"></i>
    </a>
    <div id="masterDataCollapse" class="ms-3 collapse show">
      <ul class="list-unstyled sidebar-links">
        <li>
          <%= link_to bodegas_path, class: "d-flex align-items-center sidebar-item", data: { name: "Crear CEDIS", path: bodegas_path } do %>
            <%= image_tag("warehouse.svg", alt: "Home", class: "me-2", style: "max-height: 20px;") %>
            Crear CEDIS
          <% end %>
        </li>
        <li>
          <%= link_to sucursales_path, class: "d-flex align-items-center sidebar-item", data: { name: "Crear Sucursales", path: sucursales_path } do %>
            <%= image_tag("POS.svg", alt: "Home", class: "me-2", style: "max-height: 20px;") %>
            Crear Sucursales
          <% end %>
        </li>
        <li>
          <%= link_to productos_path, class: "d-flex align-items-center sidebar-item", data: { name: "Crear Productos", path: productos_path } do %>
            <%= image_tag("product.svg", alt: "Home", class: "me-2", style: "max-height: 20px;") %>
            Crear Productos
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Shipments (Envios) Collapsible Section -->
  <div class="nav-item">
    <a class="nav-link d-flex align-items-center" href="#" id="shipmentsToggle">
      <%= image_tag("truck.png", alt: "Envios", class: "me-2", style: "max-height: 25px;") %>
      Envios
      <i class="fas fa-chevron-down ms-auto" id="shipmentsChevron"></i>
    </a>
    <div id="shipmentsCollapse" class="ms-3 collapse show">
      <ul class="list-unstyled sidebar-links">
        <li>
          <%= link_to root_path, class: "d-flex align-items-center sidebar-item", data: { name: "Crear Envio", path: root_path } do %>
            <%= image_tag("fast.png", alt: "Crear Envio", class: "me-2", style: "max-height: 20px;") %>
            Crear Envio
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "d-flex align-items-center sidebar-item", data: { name: "Listado de Envios", path: root_path } do %>
            <%= image_tag("to-do-list.png", alt: "Lista de Envios", class: "me-2", style: "max-height: 20px;") %>
            Lista de Envios
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Sucursales Collapsible Section -->
  <div class="nav-item">
    <a class="nav-link d-flex align-items-center" href="#" id="sucursalesToggle">
      <%= image_tag("windmill.png", alt: "Sucursales", class: "me-2", style: "max-height: 25px;") %>
      Sucursales
      <i class="fas fa-chevron-down ms-auto" id="sucursalesChevron"></i>
    </a>
    <div id="sucursalesCollapse" class="ms-3 collapse show">
      <ul class="list-unstyled sidebar-links">
        <li>
          <%= link_to root_path, class: "d-flex align-items-center sidebar-item", data: { name: "Tablero de Sucursales", path: root_path } do %>
            <%= image_tag("dashboard.png", alt: "Tablero de Sucursales", class: "me-2", style: "max-height: 17px;") %>
            Tablero de Sucursales
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Divider Line Above User Dropdown -->
  <hr class="user-dropdown-divider">

  <!-- User Dropdown -->
  <div class="user-dropdown">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user me-1"></i> User
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li>
          <%= link_to "Edit User", root_path, class: "dropdown-item" %>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <%# <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %> %>
        </li>
      </ul>
    </li>
  </div>
</div>
